html { 
    font-family: 'Montserrat', sans-serif;
 }

 body {
     display: inline;
     text-align: center;
}

.butn {
    color: #707070;
    font-size: 18px;
    background: #fff;
    padding: 10px 20px 10px 20px;
    border: solid #888 1px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 0px;
    cursor: pointer;
}

.butn:hover {
    text-decoration: none;
}

.header .butn-group { 
    padding-top: 35px;
}

.header { 
    height: 319px;
    align-self: auto;
    text-align: center;
    box-sizing: unset;
    color: #fff;
    background: #707070;
    width: 100%;
    margin-top: -20px;
    padding-top: 1px;
}

.header .butn {
     width: 160px;
     height: 40px;
     font-size: 14px;
     margin-top: 0px;
}

.header h2 {
    padding-top: 69px;
    font-size: 20px;
    line-height: 0px;
    font-weight: 100;
}

.header h1 {
    font-size: 48px;
    line-height: 48px;
}

.header h3 {
     font-size: 14px;
     font-weight: 100;
}

div h3 { 
    line-height: 35px;
    font-size: 14px;
}

 .textoSec {
    font-weight: 18px;
    text-align: center;
    padding-top: 50px;
    color: #888888;
} 


/* Grid Container */
.grid {
	display: grid;
}

.grid-template-columns {
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 41px;

}

.nomeDoProduto {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-align: left;
}

.descricaoDoProduto {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  text-align: left;
}

.precoAnterior {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  text-align: left;
}

.precoComDesconto {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.precoParcelado {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  text-align: left;
}

.comprar{
  text-align: center;
color: #707070;
font-size: 18px;
background: #fff;
padding: 15px 50px 15px 50px;
border: solid #888 1px;
border-radius: 5px;
text-decoration: none;
line-height: 0px;
cursor: pointer;
}

.textoTerceiro {
  font-weight: 18px;
  text-align: center;
  padding-top: 50px;
  color: #888888;
}

.textoQuarto {
  font-size: 18px;
  text-align: center;
  padding-top: 178px;
  color: #888888;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}

.textoQuinto {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 44px;
  font-weight: 18px;
}